.counter {
    width: 100%;
    padding-bottom: 3em;
    text-align: end;
    color: grey;
}

.counter span {
    font-size: 1.2em;
    font-weight: 500;
}

@media (max-width: 600px) {
    .counter {
        font-size: 0.9em;
        padding-bottom: 1em;
    }
}